TestClient/TestClient/TestClient/Service References/SubscriberServiceReference/schema4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.thalesgroup.com/NTIS/Datex2Extensions/2.0" elementFormDefault="qualified" targetNamespace="http://www.thalesgroup.com/NTIS/Datex2Extensions/2.0" id="schema4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/2/2_0" />
  <xs:complexType name="JourneyTimePublication">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://datex2.eu/schema/2/2_0" base="q1:PayloadPublication">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="journeyTimes" type="tns:ArrayOfJourneyTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfJourneyTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="journeyTime" type="tns:JourneyTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JourneyTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="camera1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="camera2" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="timeStamp" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="travelTime" type="xs:unsignedInt" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="isSuspect" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>