TestClient/TestClient/TestClient/Service References/SubscriberServiceReference/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.thalesgroup.com/NTIS/Datex2Extensions/1.0Beta1" elementFormDefault="qualified" targetNamespace="http://www.thalesgroup.com/NTIS/Datex2Extensions/1.0Beta1" id="schema3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/2/2_0" />
  <xs:complexType name="FusedDataPublication">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://datex2.eu/schema/2/2_0" base="q1:PayloadPublication">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fusedData" type="tns:FusedData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FusedData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="markets" type="tns:FusedDataMarket" />
      <xs:element minOccurs="1" maxOccurs="1" name="createdUtc" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="maxArrivalUtc" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="latencySec" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FusedDataMarket">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="createdLocal" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tmcs" type="tns:FusedDataTMC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FusedDataTMC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="journeyTimeSec" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="direction" type="tns:TMCDirectionEnum" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="region" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="speedSensorOnlyKph" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="headwayDeciseconds" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="speedKph" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="volumeVehiclesPerMin" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="speedFvdOnlyKph" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="occupancyPercent" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TMCDirectionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="+" />
      <xs:enumeration value="-" />
      <xs:enumeration value="P" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>