TestClient/TestClient/TestClient/Service References/SubscriberServiceReference/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.thalesgroup.com/NTIS/SubscriberService" elementFormDefault="qualified" targetNamespace="http://www.thalesgroup.com/NTIS/SubscriberService" id="schema1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/2/2_0" />
  <xs:element name="DeliverAverageSpeedFvdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://datex2.eu/schema/2/2_0" minOccurs="0" maxOccurs="1" name="D2LogicalModel" type="q1:D2LogicalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverAverageSpeedFvdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverMIDASTrafficDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://datex2.eu/schema/2/2_0" minOccurs="0" maxOccurs="1" name="D2LogicalModel" type="q2:D2LogicalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverMIDASTrafficDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverANPRTrafficDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://datex2.eu/schema/2/2_0" minOccurs="0" maxOccurs="1" name="D2LogicalModel" type="q3:D2LogicalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverANPRTrafficDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverAverageSpeedFusedDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://datex2.eu/schema/2/2_0" minOccurs="0" maxOccurs="1" name="D2LogicalModel" type="q4:D2LogicalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverAverageSpeedFusedDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverAverageJourneyTimeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://datex2.eu/schema/2/2_0" minOccurs="0" maxOccurs="1" name="D2LogicalModel" type="q5:D2LogicalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverAverageJourneyTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>