TestClient/TestClient/TestClient/Service References/SubscriberServiceReference/SubscriberService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.thalesgroup.com/NTIS/SubscriberService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.thalesgroup.com/NTIS/SubscriberService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://www.thalesgroup.com/NTIS/SubscriberService">
      <s:include schemaLocation="http://141.196.44.91/SubscriberWebSite/SubscriberService.asmx?schema=schema1" />
      <s:import schemaLocation="http://141.196.44.91/SubscriberWebSite/SubscriberService.asmx?schema=schema2" namespace="http://datex2.eu/schema/2/2_0" />
      <s:import schemaLocation="http://141.196.44.91/SubscriberWebSite/SubscriberService.asmx?schema=schema3" namespace="http://www.thalesgroup.com/NTIS/Datex2Extensions/1.0Beta1" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeliverAverageSpeedFvdSoapIn">
    <wsdl:part name="DeliverAverageSpeedFvdRequest" element="tns:DeliverAverageSpeedFvdRequest" />
  </wsdl:message>
  <wsdl:message name="DeliverAverageSpeedFvdSoapOut">
    <wsdl:part name="DeliverAverageSpeedFvdResult" element="tns:DeliverAverageSpeedFvdResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverMIDASTrafficDataSoapIn">
    <wsdl:part name="DeliverMIDASTrafficDataRequest" element="tns:DeliverMIDASTrafficDataRequest" />
  </wsdl:message>
  <wsdl:message name="DeliverMIDASTrafficDataSoapOut">
    <wsdl:part name="DeliverMIDASTrafficDataResult" element="tns:DeliverMIDASTrafficDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverANPRTrafficDataSoapIn">
    <wsdl:part name="DeliverANPRTrafficDataRequest" element="tns:DeliverANPRTrafficDataRequest" />
  </wsdl:message>
  <wsdl:message name="DeliverANPRTrafficDataSoapOut">
    <wsdl:part name="DeliverANPRTrafficDataResult" element="tns:DeliverANPRTrafficDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverAverageSpeedFusedDataSoapIn">
    <wsdl:part name="DeliverAverageSpeedFusedDataRequest" element="tns:DeliverAverageSpeedFusedDataRequest" />
  </wsdl:message>
  <wsdl:message name="DeliverAverageSpeedFusedDataSoapOut">
    <wsdl:part name="DeliverAverageSpeedFusedDataResult" element="tns:DeliverAverageSpeedFusedDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverAverageJourneyTimeSoapIn">
    <wsdl:part name="DeliverAverageJourneyTimeRequest" element="tns:DeliverAverageJourneyTimeRequest" />
  </wsdl:message>
  <wsdl:message name="DeliverAverageJourneyTimeSoapOut">
    <wsdl:part name="DeliverAverageJourneyTimeResult" element="tns:DeliverAverageJourneyTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="subscriberSoap11">
    <wsdl:operation name="DeliverAverageSpeedFvd">
      <wsdl:input message="tns:DeliverAverageSpeedFvdSoapIn" />
      <wsdl:output message="tns:DeliverAverageSpeedFvdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverMIDASTrafficData">
      <wsdl:input message="tns:DeliverMIDASTrafficDataSoapIn" />
      <wsdl:output message="tns:DeliverMIDASTrafficDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverANPRTrafficData">
      <wsdl:input message="tns:DeliverANPRTrafficDataSoapIn" />
      <wsdl:output message="tns:DeliverANPRTrafficDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverAverageSpeedFusedData">
      <wsdl:input message="tns:DeliverAverageSpeedFusedDataSoapIn" />
      <wsdl:output message="tns:DeliverAverageSpeedFusedDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverAverageJourneyTime">
      <wsdl:input message="tns:DeliverAverageJourneyTimeSoapIn" />
      <wsdl:output message="tns:DeliverAverageJourneyTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="subscriberSoap11" type="tns:subscriberSoap11">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeliverAverageSpeedFvd">
      <soap:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverAverageSpeedFvd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverMIDASTrafficData">
      <soap:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverMIDASTrafficData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverANPRTrafficData">
      <soap:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverANPRTrafficData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverAverageSpeedFusedData">
      <soap:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverAverageSpeedFusedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverAverageJourneyTime">
      <soap:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverAverageJourneyTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="subscriberSoap111" type="tns:subscriberSoap11">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeliverAverageSpeedFvd">
      <soap12:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverAverageSpeedFvd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverMIDASTrafficData">
      <soap12:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverMIDASTrafficData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverANPRTrafficData">
      <soap12:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverANPRTrafficData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverAverageSpeedFusedData">
      <soap12:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverAverageSpeedFusedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverAverageJourneyTime">
      <soap12:operation soapAction="http://www.thalesgroup.com/NTIS/SubscriberService/DeliverAverageJourneyTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>